

@use '../custom' as *;

h1, h2, h3, p, ul, li {
    font-family: 'Roboto', sans-serif;
}

ul.list {

    li {
        margin-bottom:5px;
    }
}

#about {
    p {
    font-weight:300;
    font-size:18px;
    

    strong {
        font-weight:700;
    }
}
}

p {
    font-weight:300;
    font-size:18px;
    

    &.stat  {
        font-size:60px;
        font-family:$condensed-font-family;
        font-weight:700;
        line-height:57px;
        margin-bottom:0;
    }

    &.note {
        font-size:14px;
    }
    

    strong {
        font-weight:700;
       
    }
}
h2 {

    color: $primary;
    font-weight:300;
    font-size:42px;
    margin-bottom:30px;
  
}
h1 {

    color: #444444;
    font-weight:900;
    font-size:52px;
    text-transform:uppercase;
position:relative;
font-family: $display-font-family;

margin-bottom:25px;


// &:after {

//     position: absolute;
//   bottom: -15px;
//   content: " ";
//   width:1px;
//   background:$primary;
//   height:110%;
//   left:475px;
//   right:0px;

//   @media (max-width: 768px) { 

//     display:none;
//   }

// }
   

    span {
        
.rotating-text {
   
    font-weight: 300;
 
 
    transform: translateY(20px);
  
    p {
      display: inline-flex;
      margin: 0;
      vertical-align: top;
      font-size: 26px;
      text-transform:none;
  
      .word {
        position: absolute;
        display: flex;
        opacity: 0;
  
        .letter {
          transform-origin: center center 25px;
  
          &.out {
            transform: rotateX(90deg);
            transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
          }
          &.in {
            transition: 0.38s ease;
          }
          &.behind {
            transform: rotateX(-90deg);
          }
        }
      }
    }
  }
  

  
        
    }

    span.desk-only {
        @media (max-width: 767px) { 

            display:none
          }
    }

    @media (max-width: 467px) { 

        font-size:30px;
      }

     
  
}

h3 {

    color: $primary;
    font-weight:700;
    font-size:54px;
    margin-bottom:25px;
    text-transform:uppercase;
    font-family: $condensed-font-family;

    @media (max-width: 410px) { 

        font-size:44px;
      }
   

    span {
        text-transform:none;
        font-weight:300;
        font-size:16px;
        
    }

  
}
h4 {

    color: $primary;
    font-weight:300;
    font-size:25px;
    font-family:$condensed-font-family;
    margin-bottom:25px;
  
}

h5 {
    color: $primary;
}
li {
    font-weight:300;
}

a.back-link {
    color: #000000;
    font-weight:700;
    text-decoration:underline;

    &:hover {
        color: #666666;
    }
}
