

@use '../custom' as *;

h1, h2, h3, p, ul, li {
    font-family: 'Roboto', sans-serif;
}

ul.list {

    li {
        margin-bottom:5px;
    }
}

#about {
    p {
    font-weight:300;
    font-size:18px;
    

    strong {
        font-weight:700;
    }
}
}

p {
    font-weight:300;
    font-size:18px;
    

    &.stat  {
        font-size:60px;
        font-family:$condensed-font-family;
        font-weight:700;
        line-height:57px;
        margin-bottom:0;
    }

    &.note {
        font-size:14px;
    }
    

    strong {
        font-weight:700;
        color:#444444;
    }
}
h2 {

    color: $primary;
    font-weight:100;
    font-size:42px;
    margin-bottom:30px;
  
}
h1 {

    color: #666666;
    font-weight:100;
    font-size:40px;
position:relative;
font-family: $signature-font-family;


&:after {

    position: absolute;
  bottom: -15px;
  content: " ";
  width:1px;
  background:$primary;
  height:110%;
  left:355px;
  right:0px;

  @media (max-width: 768px) { 

    display:none;
  }

}
   

    span {
        font-size:23px;
        font-family: $display-font-family;
        font-weight:300;

        
    }

    span.desk-only {
        @media (max-width: 767px) { 

            display:none
          }
    }

    @media (max-width: 467px) { 

        font-size:30px;
      }

     
  
}
h3 {

    color: $primary;
    font-weight:700;
    font-size:54px;
    margin-bottom:25px;
    text-transform:uppercase;
    font-family: $condensed-font-family;
   

    span {
        text-transform:none;
        font-weight:300;
        font-size:16px;
        
    }

  
}
h4 {

    color: $primary;
    font-weight:300;
    font-size:25px;
    font-family:$condensed-font-family;
    margin-bottom:25px;
  
}

h5 {
    color: $primary;
}
li {
    font-weight:300;
}

a.back-link {
    color: #000000!important;
    font-weight:700;
    text-decoration:underline;

    &:hover {
        color: #666666!important;
    }
}
